body {
  background-color: url("../images/whitewall.png");
}
.nav{
  height: 80px;
  vertical-align: middle;
}

.navTitle{
  font-size: 40px;
}

.navInput {
  margin-top: 25px;
  margin-left: 10px;
}

#add-gif {
  background: #7634d9;
  background-image: -webkit-linear-gradient(top, #7634d9, #b82ba8);
  background-image: -moz-linear-gradient(top, #7634d9, #b82ba8);
  background-image: -ms-linear-gradient(top, #7634d9, #b82ba8);
  background-image: -o-linear-gradient(top, #7634d9, #b82ba8);
  background-image: linear-gradient(to bottom, #7634d9, #b82ba8);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border: solid grey 2px;
  text-decoration: none;
}

#add-gif:hover {
  background: #eb1a4e;
  text-decoration: none;
}

.topics-view {
  background-color: #7c458e;
  height: auto;
  width: 95%;
  margin: 0 auto;
  vertical-align: middle;
  border-style: solid;
  border-color: purple;
  border-radius: 15px;
  margin-top: 15px;
}

.topicButton {
  background: #d99734;
  background-image: -webkit-linear-gradient(top, #d99734, #b82ba8);
  background-image: -moz-linear-gradient(top, #d99734, #b82ba8);
  background-image: -ms-linear-gradient(top, #d99734, #b82ba8);
  background-image: -o-linear-gradient(top, #d99734, #b82ba8);
  background-image: linear-gradient(to bottom, #d99734, #b82ba8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border: solid #7fa6c9 2px;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
}

.topicButton:hover {
  background: #e35d14;
 text-decoration: none;
}

.gifContainer {
  border-style: solid;
  border-radius: 15px;
  background-image: url("../images/dark_mosaic.png");
  text-align: center;
  font-size: 30;
  height: auto;
  width: 95%;
  margin: 0 auto;
  padding: 20px;
}

.gifDiv {
  height: 300px;
  width: 300px;
  background-color: lightblue;
  display: inline-block;
  margin: 10px;
}

.gifSrc {
  border-style: inset;
  border-color: #e2c036;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  display: inline-flex;
  padding: 10px;
  margin: 25px
}

.gifRating {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  border-radius: 5px;
  height: 30px;
  background-color: gold;
  display: inline;
  /*position: relative;*/
  /*left: 175px;*/
  /*font-size: 12px;*/
  font-family: 'Alegreya', serif;
}
